body {
  font-family: 'Nunito', sans-serif;
}

#myButton {
  position: relative;
  animation: moveButton 1s infinite alternate;
}
.custom-container {
  min-height: 85vh; 
  padding: 20px;  
  /* background-color: #828282; */
}

.custom-container h2{
  margin-bottom: 50px;   
}
h1,h2,h3,h4,h5{
  font-weight: 700;
}
/* Định nghĩa keyframes cho hiệu ứng */
@keyframes moveButton {
  from {
    bottom: 0;
  }

  to {
    bottom: 20px;
    /* Điều chỉnh khoảng cách di chuyển */
  }
}

svg#freepik_stories-online-ads:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-online-ads.animated #freepik--Floor--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#freepik_stories-online-ads.animated #freepik--Device--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
  animation-delay: 0s;
}

svg#freepik_stories-online-ads.animated #freepik--Screen--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn, 1.5s Infinite linear floating;
  animation-delay: -0.1s, 0.9s;
  opacity: 0
}

svg#freepik_stories-online-ads.animated #freepik--Plants--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#freepik_stories-online-ads.animated #freepik--Gears--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#freepik_stories-online-ads.animated #freepik--ad-4--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown, 1.5s Infinite linear floating;
  animation-delay: 0.0s, 1s;
}

svg#freepik_stories-online-ads.animated #freepik--ad-3--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

svg#freepik_stories-online-ads.animated #freepik--ad-2--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

svg#freepik_stories-online-ads.animated #freepik--ad-1--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

svg#freepik_stories-online-ads.animated #freepik--Character--inject-62 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
  animation-delay: 0s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: inherit;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

svg#freepik_stories-search-engines:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-search-engines.animated #freepik--background-complete--inject-108 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}

svg#freepik_stories-search-engines.animated #freepik--Document--inject-108 {
  animation: 1.5s Infinite linear spin;
  animation-delay: 0s;
}

svg#freepik_stories-search-engines.animated #freepik--search-engine--inject-108 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
  animation-delay: 0s;
}

svg#freepik_stories-search-engines.animated #freepik--Character--inject-108 {
  animation: 1s 1 forwards ease-in slideDown, 1.5s Infinite linear shake;
  animation-delay: 0s, 1s;
}

@keyframes wind {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1deg);
  }

  75% {
    transform: rotate(-1deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: inherit;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}