.navbar {
    height: 70px;
  }

  .container-fluid {
    margin-left: 70px;
  }

  .img-thumbnail {
    width: 100%;
    height: auto;
  }

  .carousel-item img {
    object-fit: cover;
    max-height: auto;
  }

  .nav-link i {
    color: #333;
    font-size: large;
    transition: transform 0.3s ease;
  }

  .nav-link i:hover {
    color: #999797;
    transform: scale(1.2);
  }

  .icon-container {
    display: flex;
    align-items: center;
  }

  .container {
    width: 100%;
    padding: 5px 130px 5px 130px;
  }.d-flex{
    margin-top: 5px;
  }

  .product-box {
    border: 1px solid #ddd;
    padding: 20px;
    width: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .row img {
    width: 100%;
  }.btn-primary{
    margin-top: 10px;
  }.btn-success{
    margin-top: 10px;
  }.btn-show-more{
    margin-bottom: 10px;
  }

  @media (max-width: 992px) {
    .container-fluid {
      margin-left: 0;
    }

    .navbar-nav {
      margin-right: 0;
    }

    .navbar-collapse {
      margin-top: 70px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #f8f9fa;
      padding: 15px;
    }

    .navbar-toggler {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .d-flex {
      margin-left: 0px;
    }

    .icon-container {
      display: none;
    }

    .nav-link {
      margin-right: 20px;
    }

    .container {
      width: 100%;
      padding: 0;
    }
  }

  .navbar-nav .nav-item.dropdown .dropdown-menu {
    display: none;
  }

  .nav-item {
    margin: 10px 30px 10px;
  }